body {
    max-width: 72ch;
    margin: auto;
    padding: 20px;
    float: none;
    text-align: left;
    font-family: Dolby, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #f6f6f7;
    font-variant-ligatures: none;
    line-height: 2;
    font-smooth: auto;
	letter-spacing: normal;
}


@font-face {
  font-display: swap;
  font-family: 'Dolby';
  font-style: normal;
  font-weight: 400;
  src: url('/media/dolby-r.woff2') format('woff2');
}

::selection {
    background: #ffe988;
  }

img {
    max-width: 100%;
    border-radius: 30px;
  }

nav {
    margin: auto;
    float: none;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

ul li {
  list-style-type: '* ';
  text-align: left;
}

blockquote p {padding: 10px;
    background-color: #fcfee6;
    border-radius: 155px 15px 125px 15px/15px 125px 15px 155px;
    border:solid 3px firebrick;
    font-family: Stereo, sans-serif;
    color: black;
    margin: 0 1rem;
    text-align: left;
    padding: 0.8rem 1rem;
    -webkit-transform:rotate(-3deg);transform:rotate(-3deg);
}



a {
    text-decoration: none;
    color: red;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.67em;
}

h4 {text-align: center;
    font-size: 90%;
	text-transform: uppercase;
}

h5 {text-align: center;
    font-size: 0.8em;
	font-weight: 300;
color: black;}    

h6 {  font-size: 1em;
color: goldenrod;
font-weight: 300;}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.left {
    padding-left: 8px;
}

.right {
    padding-right: 8px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td.ex {
    padding-left: 16px;
}