body {
    max-width: 620px;
    margin: auto;
    padding: 20px;
    float: none;
    text-align: left;
    font-family: "Dolby", serif;
    font-size: 21px;
    color: black;
    background-color: whitesmoke;
    font-variant-ligatures: none;
    line-height: 1.5;
}

img {
    max-width: 100%;
  }

@font-face {
    font-family: "Dolby";
    src: url("/media/dolby-r.woff") format("woff");
    font-style: normal;
  }

  @font-face {
    font-family: "Dolby";
    src: url("/media/dolby-i.woff") format("woff");
font-style: italic;  
}

@font-face {
    font-family: "Dolby";
    src: url("/media/dolby-b.woff") format("woff");
    font-weight: bold;  
}

@font-face {
    font-family: "Stereo";
    src: url("/media/stereo-r.woff") format("woff");
    font-style: normal;
  }

  @font-face {
    font-family: "Stereo";
    src: url("/media/stereo-i.woff") format("woff");
    font-style: italic;
  }


nav {
    margin: auto;
    float: none;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

blockquote p {padding: 10px;
    background-color: transparent;
    color: midnightblue;
    font-family: "Stereo", serif;
    font-size: 70%;}

a {
    text-decoration: none;
    color: firebrick;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.67em;
}

h4 {text-align: center;
    font-size: 80%;
	text-transform: uppercase;}

h5 {text-align: center;
    font-size: 0.8em;
	font-weight: 300;
color: slategray;}    

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.left {
    padding-left: 8px;
}

.right {
    padding-right: 8px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td.ex {
    padding-left: 16px;
}