body {
    max-width: 60ch;
    margin: auto;
    padding: 20px;
    float: none;
    text-align: left;
    font-family: Dolby;
    text-align: justify;
    font-size: 16px;
    color: black;
    font-weight: 400;
    background-color: white;
    font-variant-ligatures: normal;
    line-height: 1.6;
    font-smooth: always;
}


@font-face {
  font-display: swap;
  font-family: 'Dolby';
  font-style: normal;
  font-weight: 400;
  src: url('/media/dolby-r.woff2') format('woff2');
}

::selection {
    background: #ffe988;
  }

img {
    max-width: 100%;
    border-radius: 30px;
  }

nav {
    margin: auto;
    float: none;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

ul li {
  list-style-type: '* ';
}

blockquote p {padding: 10px;
    font-size: 0.8em;
    color: rgb(15, 15, 15);
    margin: 0 1rem;
    text-align: left;
    padding: 0.8rem 1rem;
}

a {
    text-decoration: none;
    color: red;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.67em;
}

h4 {text-align: center;
    font-size: 80%;
	text-transform: uppercase;
    color: black;
}

h5 {text-align: center;
    font-size: 0.8em;
	font-weight: 300;
color: black;}    

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.left {
    padding-left: 8px;
}

.right {
    padding-right: 8px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td.ex {
    padding-left: 16px;
}