<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@p">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="https://solarsystem.nasa.gov/system/downloadable_items/2431_PIA21445.jpg">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&display=swap" rel="stylesheet"> 
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="https://paoloii.github.io/atom.xml" target="_blank">rss</a></li>
    </ul>
  </nav>

{{ content }}

</body>
</html>
