<!doctype html>
<html>

<head>
  <title>TSUNAMI NOTES * {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@p">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="/media/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Tsunami Notes RSS" />
  </head>

<body>
  <nav> <a href="/"><img src="/media/p.jpg" class="avatar"></a>
  <h1><a href="/">TSUNAMI NOTES</a></h1>
  <h4><a href="/recap">recap</a> ~ <a href="/ping">ping</a></h4></p>
   </nav>

{{ content }}


<footer>
<p><h4>* * *</h4></p>
    <p><h4>made with ❤️🔥🌪️ on 🌍</h4></p>
	<p><h4>TSUNAMI NOTES © 2023 by <a href="/">paolo i.</a></h4></p>
</footer>
</body>
</html>
